<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <label for="email">Email</label>
<input type="email" name="email" id="email" placeholder="Entrez votre email" required>
    <h3>tdtdddtrtrdtrdtrdtrdtrdtrdrdrded45dffdrdtrdrdrdredredrdrdrr</h3>
    <strong>{{ date }}</strong>

    <strong> Votre email {{ email }} </strong>
    <em>dssefrdredccrctrcrdrrdtr</em>
</body>
</html>