{% extends "shop/base.html" %}

{% block content %}
       <h1>FAQ - Questions fréquemment posées</title>

<h1>Produits</h1>

  <h2>Quels types de produits vendez-vous ?</h2>
  <p>Nous vendons une large gamme de produits, y compris des appareils électroniques, des appareils électriques, des accessoires, des meubles, etc. Vous pouvez trouver notre catalogue complet sur notre site web.</p>

  <h2>Comment puis-je trouver le produit dont j'ai besoin ?</h2>
  <p>Vous pouvez utiliser notre fonction de recherche sur notre site web pour trouver des produits spécifiques. Vous pouvez également parcourir nos catégories et utiliser les filtres pour affiner votre recherche.</p>

  <h2>Pouvez-vous m'indiquer les caractéristiques clés de ce produit ?</h2>
  <p>Chaque produit a ses propres caractéristiques clés. Vous pouvez consulter la page du produit sur notre site web pour obtenir des informations détaillées sur ses caractéristiques, ses spécifications et ses fonctionnalités.</p>

  <h2>Quelle est la disponibilité des produits ?</h2>
  <p>La disponibilité des produits peut varier. Sur la page de chaque produit, vous pouvez vérifier s'il est en stock ou s'il est actuellement en rupture de stock. Si un produit est en rupture de stock, vous pouvez vous inscrire pour être averti lorsque le produit sera à nouveau disponible.</p>

  <h2>Comment puis-je comparer différents produits ?</h2>
  <p>Sur notre site web, vous pouvez utiliser la fonction voir pour sélectionner plusieurs produits et les comparer côte à côte. Cela vous permet de voir les différences et les similitudes entre les produits, ce qui facilite votre prise de décision.</p>

  <h2>Y a-t-il des avis de clients sur les produits ?</h2>
  <p>Oui, nous encourageons nos clients à laisser des avis sur nos produits. Sur la page de chaque produit, vous pouvez trouver des avis et des évaluations laissés par nos clients. Cela peut vous aider à prendre une décision éclairée lors de l'achat.</p>

  <h2>Quelle est la garantie sur les produits que vous vendez ?</h2>
  <p>La garantie sur nos produits varie en fonction du fabricant et du type de produit. Sur la page de chaque produit, vous pouvez trouver des informations sur la garantie spécifique offerte. En cas de problème avec un produit couvert par la garantie, veuillez nous contacter pour obtenir de l'assistance.</p>

  <h2>Les produits sont-ils neufs ou d'occasion ?</h2>
  <p>Non tous nos produits ne sont pas neufs, sauf indication contraire. Nous vendons de produits d'occasion et produits neufs.</p>
  <br>

  <h1>Paiement</h1>

  <h3>Quels modes de paiement acceptez-vous ?</h3>
  <p>Nous acceptons les paiements par mon cash, natcash, carte de crédit et PayPal.</p>

  <h3>Comment puis-je sécuriser mon paiement en ligne ?</h3>
  <p>Nous utilisons des protocoles de sécurité avancés tels que SSL pour garantir la sécurité de vos paiements en ligne. Assurez-vous de ne pas partager vos informations de paiement avec des tiers non autorisés.</p>

  <h3>Puis-je effectuer un paiement en plusieurs fois ?</h3>
  <p>Oui, nous proposons des options de paiement en plusieurs fois. Veuillez consulter notre page de paiement pour plus d'informations sur les options disponibles.</p>

  <h3>Quand est-ce que ma carte de crédit sera débitée ?</h3>
  <p>Votre carte de crédit sera débitée immédiatement après avoir passé votre commande.</p>


  <h3>Quelle est votre politique de confidentialité en matière de paiement ?</h3>
  <p>Nous respectons votre vie privée et nous nous engageons à protéger vos informations de paiement. Veuillez consulter notre politique de confidentialité pour plus de détails sur la manière dont nous traitons vos informations.</p>
  <br>

  <h1>Livraisons</h1>

  <h3>Quelles sont vos options de livraison ?</h3>
  <p>Nous proposons la livraison standard et la livraison express. Veuillez consulter notre page de livraison pour plus d'informations.</p>

  <h3>Quels sont les délais de livraison estimés ?</h3>
  <p>Les délais de livraison varient en fonction de votre emplacement. En général, la livraison standard prend entre 3 et 5 jours ouvrables, tandis que la livraison express prend entre 1 et 2 jours ouvrables.</p>

  <h3>Comment puis-je suivre ma commande ? </h3>
  <p>Une fois votre commande expédiée, vous recevrez un e-mail de confirmation contenant un lien de suivi. Cliquez sur ce lien pour suivre votre commande en temps réel.</p>

  <h3>Puis-je modifier mon adresse de livraison après avoir passé commande ? </h3>
  <p>Malheureusement, nous ne pouvons pas garantir la modification de l'adresse de livraison après avoir passé commande. Veuillez nous contacter dès que possible pour voir si une modification est possible.</p>

  <h3>Que faire si ma commande est endommagée lors de la livraison ?</h3>
  <p>Si votre commande est endommagée lors de la livraison, veuillez nous contacter immédiatement et fournir des photos du colis endommagé. Nous prendrons les mesures nécessaires pour résoudre le problème.</p>

  <h3>Quels sont les coûts de livraison ?</h3>
  <p>Les coûts de livraison dépendent de votre emplacement et du type de livraison que vous choisissez. Les frais de livraison seront indiqués lors du processus de commande.</p>

  <h3>Livrez-vous à l'international ? - Do you deliver internationally?</h3>
  <p>Non, nous ne livrons pas à l'international..</p>
  <br>

  <h1>Guide d'achat</h1>

  <h3>Comment puis-je rechercher des produits spécifiques sur votre site ?</h3>
  <p>Pour rechercher des produits spécifiques sur notre site, vous pouvez utiliser la barre de recherche située en haut de chaque page. Entrez les mots-clés ou les caractéristiques du produit que vous recherchez et appuyez sur Entrée.</p>

  <h3>Comment ajouter des articles à mon panier d'achat ? </h3>
  <p>Pour ajouter des articles à votre panier d'achat, naviguez vers la page du produit que vous souhaitez acheter. Sur cette page, vous trouverez un bouton "Ajouter au panier" ou un icône de panier. Cliquez sur ce bouton ou cet icône pour ajouter le produit à votre panier.</p>

  <h3>Comment passer une commande sur votre site ? </h3>
  <p>Pour passer une commande sur notre site, suivez les étapes suivantes :
    <ol>
      <li>Sélectionnez les produits que vous souhaitez acheter et ajoutez-les à votre panier d'achat.</li>
      <li>Accédez à votre panier d'achat et vérifiez les articles sélectionnés.</li>
      <li>Cliquez sur le bouton "Passer à la caisse" ou "Payer" pour accéder au processus de paiement.</li>
      <li>Remplissez les informations de livraison et de paiement requises.</li>
      <li>Vérifiez attentivement toutes les informations et cliquez sur "Confirmer la commande" pour finaliser votre achat.</li>
    </ol>
  </p>

  <h3>Comment puis-je créer un compte client ? </h3>
  <p>Pour créer un compte client, suivez ces étapes :
    <ol>
      <li>Cliquez sur "Connecter" ou "S'inscrire" situé en haut de la page.</li>
      <li>Remplissez le formulaire d'inscription avec vos informations personnelles, telles que votre nom, votre adresse e-mail et votre mot de passe.</li>
      <li>Cliquez sur "S'inscrire" ou "Créer un compte" pour créer votre compte client.</li>
      <li>L'orsque l'inscription se termine avec succès, vous recevrez un mail de confirmation de votre compte, a l'addresse email fourni lors de l'inscription.</li>
    </ol>
  </p>

  <h3>Comment puis-je annuler ma commande ? </h3>
  <p>Pour annuler votre commande, veuillez nous contacter immédiatement par e-mail ou par téléphone avec les détails de votre commande. Nous ferons de notre mieux pour traiter votre demande d'annulation, en fonction de l'état de votre commande.</p>

  <h3>Puis-je modifier ma commande après l'avoir passée ? </h3>
  <p>Si vous souhaitez modifier votre commande après l'avoir passée, veuillez nous contacter dès que possible. Nous ferons de notre mieux pour répondre à votre demande de modification, en fonction de l'état de votre commande.</p>
  <br>

  <h2>Politique de retour et de remboursement</h2>

  <h3>Quelle est votre politique de remboursement</h3>
  <p>Notre politique de retour vous permet de retourner les produits dans les 10 jours suivant la réception, sous certaines conditions. Veuillez consulter notre page de politique de retour pour plus de détails.</p>

  <h3>Combien de temps ai-je pour retourner un produit ? </h3>
  <p>Vous disposez de 10 jours à compter de la réception du produit pour le retourner, conformément à notre politique de retour.</p>

  <h3>Comment puis-je initier un retour</h3>
  <p>Pour initier un retour, veuillez nous contacter par e-mail ou par téléphone avec les détails de votre commande et du produit que vous souhaitez retourner. Nous vous guiderons à travers le processus de retour.</p>

  <h3>Quels sont les frais de retour, le cas échéant ?</h3>
  <p>Les frais de retour dépendent du motif du retour et de votre emplacement. Veuillez nous contacter pour obtenir des informations spécifiques sur les frais de retour applicables à votre situation.</p>

  <h3>Combien de temps faut-il pour traiter les remboursements ? </h3>
  <p>Une fois que nous avons reçu votre produit retourné, nous traiterons votre remboursement dans un délai de 5 à 7 jours ouvrables. Veuillez noter que le délai de remboursement peut varier en fonction de votre mode de paiement.</p>
  <br>

  <h1>Politique de livraison</h1>
  
  <h3>Quelle est votre politique de livraison ?</h3>
  <p>Notre politique de livraison garantit une livraison rapide et sécurisée des produits à nos clients. Nous nous efforçons de livrer les commandes dans les délais spécifiés et de fournir des mises à jour sur le statut de la livraison.</p>
  <h3>Quels sont les frais de livraison ?</h3>
  <p>Les frais de livraison varient en fonction de la destination d'expédition et du poids du colis. Veuillez consulter notre page d'expédition pour obtenir des informations détaillées sur les frais de livraison.</p>
  <h3>Offrez-vous la livraison gratuite ?</h3>
  <p>Oui, nous offrons la livraison gratuite pour les commandes d'un montant minimum. Veuillez consulter notre site web ou contacter notre service client pour plus d'informations sur les critères d'éligibilité.</p>
  <h3>Quels sont les délais de livraison estimés ?</h3>
  <p>Les délais de livraison estimés dépendent de la destination d'expédition. En général, les livraisons sont effectuées dans un délai de 3 à 5 jours ouvrables pour les commandes nationales et de 7 à 10 jours ouvrables pour les commandes internationales.</p>
  <h3>Comment puis-je suivre ma commande en temps réel ?</h3>
  <p>Pour suivre votre commande en temps réel, vous pouvez utiliser le numéro de suivi fourni dans l'e-mail de confirmation d'expédition. Rendez-vous sur notre page de suivi sur notre site web et saisissez le numéro de suivi pour obtenir les dernières mises à jour sur le statut de votre commande.</p>
  <h2>Service client</h2>
  <h3>Comment puis-je vous contacter en cas de questions ou de problèmes ?</h3>
  <p>Si vous avez des questions ou des problèmes, vous pouvez contacter notre équipe du service clientèle par différents moyens :
    <ul>
      <li>Téléphone : Appelez notre ligne d'assistance au 46928042/42309514 pendant nos heures de travail.</li>
      <li>E-mail : Envoyez un e-mail à louisjeananderson2016@gmail.com et notre équipe vous répondra dans les 24 heures.</li>
     
    </ul>
  </p>
  <h3>Quelles sont vos heures de disponibilité pour le service client ?</h3>
  <p>Notre équipe du service clientèle est disponible pour vous aider aux horaires suivants :
    <ul>
      <li>Lundi au vendredi : de 9h00 à 19h00</li>
      <li>Samedi : de 10h00 à 16h00</li>
      <li>Dimanche : Fermé</li>
    </ul>
  </p>
  
  <h3>Y a-t-il un numéro de téléphone pour le service client ?</h3>
  <p>Oui, vous pouvez contacter notre équipe du service clientèle en appelant le 42309514. Nos représentants seront disponibles pour vous aider pendant nos heures de travail.</p>
  <h3>Combien de temps faut-il pour obtenir une réponse du service client ?</h3>
  <p>Nous nous efforçons de répondre aux demandes des clients dans un délai de 24 heures. Cependant, pendant les périodes de pointe, il peut prendre un peu plus de temps pour recevoir une réponse. Soyez assuré que nous traiterons vos préoccupations dès que possible.</p>
  <br>

  <h2>Contact et assistance</h2>
  <h3>Comment puis-je vous contacter en cas de questions ou de besoin d'assistance ?</h3>
  <p>Vous pouvez nous contacter de différentes manières :
    <ul>
      <li>Par téléphone : Appelez notre service client au 46928042/42309514 pendant nos heures d'ouverture.</li>
      <li>Par e-mail : Envoyez-nous un e-mail à louisjeananderson2016@gmail.com et nous vous répondrons dans les plus brefs délais.</li>
      
    </ul>
  </p>
  
  <h2>Guide d'entretien des produits</h2>
  <h3>Comment entretenir et nettoyer les produits que vous vendez ?</h3>
  <p>Nous vous recommandons de suivre les instructions spécifiques fournies avec chaque produit pour l'entretien et le nettoyage. Ces instructions vous aideront à prendre soin de vos produits de manière appropriée.</p>
  
  <h3>Y a-t-il des recommandations spécifiques pour prolonger la durée de vie des produits ?</h3>
  <p>Oui, pour prolonger la durée de vie de vos produits, nous vous conseillons de :
    <ul>
      <li>Les utiliser conformément aux instructions du fabricant.</li>
      <li>Les nettoyer régulièrement et les entretenir selon les recommandations fournies.</li>
      <li>Les stocker dans des conditions appropriées, à l'abri de l'humidité et de la chaleur excessive.</li>
    </ul>
  </p>
  <br>

  <h2>Guide sur l'assistance technique</h2>
  <h3>Comment puis-je obtenir de l'assistance technique pour les produits électroniques que j'ai achetés ?</h3>
  <p>Pour obtenir de l'assistance technique pour les produits électroniques, veuillez contacter notre équipe d'assistance technique par téléphone ou par e-mail. Ils seront en mesure de vous aider avec tout problème ou question que vous pourriez avoir.</p>
  
  <h3>Quelle est la procédure pour faire réparer un produit défectueux sous garantie ?</h3>
  <p>Si vous avez un produit défectueux sous garantie, veuillez nous contacter pour obtenir des instructions sur la procédure de réparation. Nous vous guiderons à travers les étapes nécessaires pour faire réparer votre produit dans les plus brefs délais.</p>
  <br>

  <h1>Politique de confidentialité</h1>
  <p>
      Nous accordons une grande importance à la confidentialité de vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations lorsque vous utilisez notre site web.
  </p>
  <h2>Collecte d'informations</h2>
  <p>
      Lorsque vous utilisez notre site web, nous pouvons collecter certaines informations personnelles vous concernant, telles que votre nom, votre adresse e-mail, votre adresse postale, etc. Nous collectons ces informations de manière légale et éthique, avec votre consentement.
  </p>
  <h2>Utilisation des informations</h2>
  <p>
      Les informations que nous collectons sont utilisées pour vous fournir les services et les fonctionnalités de notre site web. Nous pouvons également les utiliser pour vous contacter, vous envoyer des informations promotionnelles ou vous informer des mises à jour importantes.
  </p>
  <h2>Protection des informations</h2>
  <p>
      Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, utilisation abusive ou divulgation. Nous utilisons des technologies de sécurité avancées et nous nous engageons à respecter les normes de confidentialité les plus strictes.
  </p>
  <h2>Partage des informations</h2>
  <p>
      Nous ne partageons vos informations personnelles avec des tiers que dans les cas suivants : lorsque cela est nécessaire pour vous fournir les services demandés, lorsque cela est requis par la loi, ou lorsque vous avez donné votre consentement explicite.
  </p>
  <h2>Cookies</h2>
  <p>
      Nous utilisons des cookies sur notre site web pour améliorer votre expérience utilisateur. Les cookies sont de petits fichiers texte stockés sur votre appareil qui nous aident à analyser votre comportement de navigation et à personnaliser le contenu que nous vous proposons.
  </p>
  <h2>Modification de la politique de confidentialité</h2>
  <p>
      Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toutes les modifications seront publiées sur cette page. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.
  </p>
  <h2>Contactez-nous</h2>
  <p>
      Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à louisjeananderson2016@gmail.com ou par téléphone au 46928042/42309514.
  </p>
</body>
</html>
{% endblock %}