{% extends "shop/base.html" %}

{% block content %}
<h1>Histoire de l'entreprise</h1>
<p>Nous sommes une entreprise établie depuis de nombreuses années, ayant une passion profonde pour la technologie et l'innovation. Notre voyage a commencé modestement, mais grâce à notre engagement indéfectible envers l'excellence, nous avons évolué pour devenir un acteur majeur dans le domaine de la vente en ligne.</p>

<h2>Mission et valeurs</h2>
<p>Notre mission est de transformer la façon dont vous vivez et interagissez avec la technologie au quotidien. Nous sommes guidés par des valeurs fondamentales telles que l'intégrité, l'innovation et l'engagement envers la satisfaction client. Nous nous efforçons constamment de dépasser vos attentes.</p>

<h2>Équipe</h2>
<p>Faisons connaissance avec l'équipe qui travaille sans relâche pour vous offrir les meilleurs produits et services :</p>

 <h2>Louis Jean Anderson</h2>  <li>Notre visionnaire en chef, apportant une expertise inégalée dans la sélection des produits.</li>
  <h2>Peterson Louis Jean</h2> Le génie créatif derrière nos innovations, garantissant que chaque produit est conçu pour répondre à vos besoins.</li>
 <h2>Louis Jean Alix</h2> Notre expert en service client, dédié à offrir des expériences exceptionnelles à nos clients.</li>
<h2>Louis Jean Wedler</h2> L'architecte de la qualité, veillant à ce que chaque produit réponde à nos normes rigoureuses.</li>
  <h2>Louis Jean Stanley</h2> Le gardien de la logistique, assurant que vos commandes arrivent rapidement et en parfait état.</li>


<h2>Qualité et engagement</h2>
<p>Chacun de nos produits, qu'il s'agisse de téléphones de pointe, de motos électriques, de tenues sportives, d'appareils électriques ou électroniques, est minutieusement sélectionné et testé pour garantir une qualité exceptionnelle. Notre engagement envers votre satisfaction est notre priorité absolue, et nous nous efforçons de rendre chaque expérience d'achat mémorable.</p>

<h2>Localisation</h2>
<p>Vous pouvez nous trouver à Fontamara, 27 rue Saint-Michel prolongée. Nous sommes toujours prêts à vous accueillir dans notre magasin, et vous pouvez également nous joindre par téléphone au 46928043 ou au 42309514 pour toute question ou demande d'assistance.</p>



{% endblock %}