{% extends "shop/base.html" %}

{% block content %}
<h1>Termes et conditions</h1>
<p>
    Bienvenue sur notre site web. En utilisant ce site, vous acceptez de vous conformer aux termes et conditions énoncés ci-dessous. Veuillez lire attentivement ces termes avant d'utiliser notre site.
</p>
<h2>1. Introduction</h2>
<p>
    Nous vous souhaitons la bienvenue sur notre site web. En utilisant ce site, vous acceptez de vous conformer aux termes et conditions énoncés ci-dessous. Veuillez lire attentivement ces termes avant d'utiliser notre site.
</p>
<h2>2. Utilisation du site</h2>
<p>
    Vous êtes autorisé à accéder et à utiliser notre site uniquement à des fins légales et conformément à ces termes et conditions. Vous ne devez pas utiliser notre site de manière abusive, frauduleuse ou contraire à la loi.
</p>
<h2>3. Propriété intellectuelle</h2>
<p>
    Tout le contenu présent sur notre site, y compris les textes, les images, les logos, les vidéos, etc., est protégé par les lois sur la propriété intellectuelle. Vous ne pouvez pas reproduire, distribuer, modifier ou utiliser notre contenu sans notre autorisation écrite préalable.
</p>
<h2>4. Liens vers des sites tiers</h2>
<p>
    Notre site peut contenir des liens vers des sites web tiers. Nous ne sommes pas responsables du contenu ou de la politique de confidentialité de ces sites. L'utilisation de ces liens est à vos propres risques.
</p>
<h2>5. Limitation de responsabilité</h2>
<p>
    Nous nous efforçons de fournir des informations précises et à jour sur notre site. Cependant, nous ne garantissons pas l'exactitude, l'exhaustivité ou la fiabilité de ces informations. Vous utilisez notre site à vos propres risques.
</p>
<h2>6. Politique de confidentialité</h2>
<p>
    Nous respectons votre vie privée et nous nous engageons à protéger vos informations personnelles. Veuillez consulter notre politique de confidentialité pour en savoir plus sur la manière dont nous collectons, utilisons et protégeons vos informations.
</p>
<h2>7. Modifications des termes et conditions</h2>
<p>
    Nous nous réservons le droit de modifier ces termes et conditions à tout moment. Les modifications prendront effet dès leur publication sur notre site. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.
</p>
<h2>8. Contact</h2>
<p>
    Si vous avez des questions ou des préoccupations concernant ces termes et conditions, veuillez nous contacter à louisjeananderson20162016@gmail.com ou par téléphone au 46928042/42309514.
</p>
{% endblock %}